<% layout("/layouts/boilerplate")%>
<body>
    <br><br>
    <h3>Edit Course Detail</h3>
    <div class="form">
        <form action="/courses/<%=course._id %>?_method=PUT" method="post" novalidate class="needs-validation">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="course[title]" class="form-control" value="<%= course.title %>" required>
                <div class="valid-feedback">Title is great</div>
                <div class="invalid-feedback">Appropriate Title required</div>
            </div>
    
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text"
                    name="course[description]"class="form-control" required><%= course.description %> </textarea>
                    <div class="valid-feedback">Great Description</div>
                    <div class="invalid-feedback">Description Required</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" name="course[image]" value="<%= course.image %>" class="form-control" required>
                    <div class="valid-feedback">Wow great picture!</div>
                    <div class="invalid-feedback">Add a Picture</div>
            </div>
    
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="course[price]" value="<%= course.price %>" class="form-control" required>
                <div class="valid-feedback">Good pricing</div>
                    <div class="invalid-feedback">Add resonable price</div>
    
            </div>
    
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="string" name="course[author]" value="<%= course.author %>" class="form-control" required>
                <div class="valid-feedback">Excellent</div>
                    <div class="invalid-feedback">Author required</div>
    
            </div>
    
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input name="course[rating]" value="<%= course.rating %>" class="form-control" required>
                <div class="valid-feedback">Good rating</div>
                    <div class="invalid-feedback">Add resonable rating</div>
    
            </div>
    
            <div class="mb-3">
                <label for="language" class="form-label">Language</label>
                <input type="string" name="course[language]" value="<%= course.language %>" class="form-control" required>
                <div class="valid-feedback">Good</div>
                    <div class="invalid-feedback">Add language</div>
    
            </div>
           <button class="btn btn-primary">Edit</button>
        </form>
    </div>
    <script src="/js/script.js"></script>
</body>